<div>
  <div class="col-sm-1 col-lg-4 col-md-4" *ngFor="let advert of adverts">
    <div class="thumbnail">
      <img src="{{ advert.imageUrl }}" class="img-thumbnail" [alt]="advert.title" />
      <ng-template [ngIf]="advert.reservingId == null">
        <span class="label label-success badge-pill">Avaiable</span>
      </ng-template>
      <ng-template [ngIf]="advert.reservingId != null">
        <span class="label label-danger badge-pill">Reserved</span>
      </ng-template>
      <h4>{{ advert.title }}</h4>
      <ul>
        <li>
          <a [routerLink]="['/adverts', advert.advertId]">{{ advert.title }}</a>
          </li>
      </ul>
      <h5><strong>Short Description</strong>: {{ advert.shortDescription }}</h5>
    </div>
  </div>
</div>



