<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width" />
  <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
  <link href="/content/site.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
          <a href="/Advert/List" class="navbar-brand">Adverts</a>
          </li>
          <li>
          <a href="/Home/Privacy">Privacy</a>
          </li>
          <!--   <partial name="_LoginPartial" />-->
          <!--@*
          <li><a asp-controller="Feedback" asp-action="Index">Feedback</a></li>*@-->
        </ul>
      </div>
    </div>
  </nav>

  <!--<div class="container body-content">
      <div class="row">
          @RenderBody()
      </div>
  </div>
  @RenderSection("Scripts", required: false)-->
</body>
</html>


<!--<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Shelter3._0</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/counter"]'>Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/fetch-data"]'>Fetch data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>-->
