/*body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/images/site-background.jpg');
    background-repeat: repeat;
}*/

.sbody-content {
    padding-left: 15px;
    padding-right: 15px;
}

.thumbnail img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}